<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/readarticles.css" />
  </head>
  <body>
    <div class="text-center" id="preloader">
      <div class="row">
        <div class="col-sm-2">
          <div id="wave1"></div>
        </div>
      </div>
    </div>
    <section class="shares-section">
      <div>
        <a href="#" onclick="{window.print()}"><i class="fas fa-print"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"> <i class="fab fa-linkedin-in"></i></a>
      </div>
    </section>
    <section class="article-section">
      <div class="page" id="section-to-print">
        <div class="main-heading">
          <center><h1><%=exp.Student_Name%>| <%=exp.Company_Name%> </h1></center>
        </div>
        <!-- <div class="article-image">
          <img src="../assets/img/001.jpg" alt="" />
        </div> -->
        <div class="sub-heading">
          <h2>Sub Heading</h2>
        </div>
        <div class="paragraph">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            voluptatibus, rerum laborum tenetur nihil odit deserunt similique a
            minus architecto ex omnis voluptatem accusantium fugit adipisci
            dicta nesciunt. Culpa cum aut optio repellendus vero placeat
            excepturi! Odit optio earum saepe. Aspernatur maxime ratione
            reiciendis facere magnam eaque vitae eius deserunt. Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Repudiandae, tempora!
          </p>
        </div>
        <div class="paragraph">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            voluptatibus, rerum laborum tenetur nihil odit deserunt similique a
            minus architecto ex omnis voluptatem accusantium fugit adipisci
            dicta nesciunt. Culpa cum aut optio repellendus vero placeat
            excepturi! Odit optio earum saepe. Aspernatur maxime ratione
            reiciendis facere magnam eaque vitae eius deserunt. Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Repudiandae, tempora!
          </p>
        </div>
        <div class="quotation">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error,
            reprehenderit.
          </p>
        </div>
        <div class="paragraph">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            voluptatibus, rerum laborum tenetur nihil odit deserunt similique a
            minus architecto ex omnis voluptatem accusantium fugit adipisci
            dicta nesciunt. Culpa cum aut optio repellendus vero placeat
            excepturi! Odit optio earum saepe. Aspernatur maxime ratione
            reiciendis facere magnam eaque vitae eius deserunt. Lorem ipsum,
            dolor sit amet consectetur adipisicing elit. Repudiandae, tempora!
          </p>
        </div>
        <div class="sub-heading">
          <h2>Sub Heading</h2>
        </div>
        <div class="article-image">
          <img src="../assets/img/001.jpg" alt="" />
        </div>
        <div class="paragraph">
          <p>
            <%=exp.experience%>
          </p>
        </div>
      </div>
    </section>

    <footer>
      <p class="copyright">Copyright &copy; group 13</p>
    </footer>

    <script src="/js/readarticles.js"></script>
  </body>
</html>