<html>
    <head>

    </head>
    <body>
        <div>
            Name: Sai Teja
            Role: Backend Development
        </div>
        <div>
            Name: Shamgar
            Role: Frontend Development
        </div>
        <div>
            Name: Ankita
            Role: Database Management
        </div>
        <div>
            Name: Rahul
            Role: API Development
        </div>
        <div>
            Name: Adarsh
            Role: Backend Development
        </div>
    </body>
</html>