<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Yaldevi:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    /> 
    
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/signup.css">
    <script>
      function validateForm() {
        let yr = document.forms["signup"]["yearofGraduation"].value;
        if(yr<2018 || yr> 2024){
          alert("Enter Valid year of Graduation");
          return false;
        }
        let enrol = document.forms["signup"]["enroll"].value;
        if(enrol<500000000 || enrol> 600000000){
          alert("Enter Valid Enrollment Number");
          return false;
        }

        let x = document.forms["signup"]["email"].value;
        if(/^@students.iiests.ac.in$/.test(x)) {
          alert("Enter Valid Email(Gsuite ID)");
          return false;
        }        
      }
      </script>

</head>
<body>

  <section>

    <h1>Sign Up</h1>

    <form action="/users/create" name ="signup" onsubmit="return validateForm()" method="POST" autocomplete="off">
        <input type="text" name="name" placeholder="Your Name" required>

        <input list="dept" name="department" placeholder="Department" required>
                <datalist id="dept">
                    <option value="Computer Science and Technology">
                    <option value="Information Technology">
                    <option value="Electronics and Tele Communication">
                    <option value="Electrical Engineering">
                    <option value="Mechanical Engineering">
                    <option value="Civil Engineering">
                </datalist>
        <!-- <input type="text" name="department" placeholder="Department" required> -->
        <!-- <input type="number" name="yearofGraduation" placeholder="year of Graduation" required> -->
        <input list="years" name="yearofGraduation" placeholder="year of Graduation" required>
                <datalist id="years">
                    <option value="2024">
                    <option value="2023">
                    <option value="2022">
                    <option value="2021">
                    <option value="2020">
                    <!-- <option value="Refferal">
                    <option value="Hackathons"> -->
                </datalist>
        <input type="number" name="enroll" placeholder="Your enroll" required>
        <input type="email" name="email" placeholder="Your Email" autocomplete="off" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        
        <input class="submit-btn" type="submit" value="Sign Up">

    </form>
</section>
</body>
</html>
