<h1>
    Profile Page
</h1>

<p><%= user.name %></p>
<p><%= user.email %></p>
<%if(user.role == 0){%>
    <p> Student </p>
<%}else if(user.role == 1){%>
    <p> Reviewer </p>
    <a href= "../users/verifyexp">verify experience</a>
<%}else{%>
    <p>ADMIN</p>
    <a href= "../users/verifyexp">verify experience</a>
<%}%>
<p><%= user.role %></p>
