/* NAvigation menu */
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 10vh;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(63, 0, 122, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar nav {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar nav .logo-section {
    -webkit-box-flex: 0.3;
        -ms-flex: 0.3;
            flex: 0.3;
  }
  
  .navbar nav .logo-section img {
    width: 350px;
  }
  
  .navbar nav #nav-list {
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  
  .navbar nav #nav-list .for-small {
    display: none;
  }
  
  .navbar nav #nav-list li a {
    text-decoration: none;
    color: #555;
  }
  
  .navbar nav #nav-list li a:hover {
    color: #3f007a;
  }
  
  .navbar nav #nav-list li .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .navbar nav #nav-list li .profile p {
    display: none;
  }
  
  .navbar nav #nav-list li .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  